 {% extends 'base.html' %}

{% block conteudo %}
        <form method="get" action="{% url 'busca' %}">
        <h1>Retorno</h1>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Site para pesquisar</label>
                <input class="form-control" type="search" value="" id="exampleInputEmail1" name="termourl">
                {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
            </div>
            <button type="submit" class="btn btn-primary">Analisar</button>
           <a href={{nome}} class="btn btn-success" target="_blank">Google PageSpeed</a>
        </form>

        <div class="mb-3"></div>
<div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Chave</th>
              <th>Valor</th>

            </tr>
          </thead>
          <tbody>
            {% comment %} {% for c in resposta %} {% endcomment %}
            {% if resposta %}
                {% for key, value in resposta.items %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
              {% endfor %}

            {% endif %}
             {% if whowho %}
              {% for key, value in whowho.items %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
              {% endfor %}
            
            {% endif %}
            {% comment %} {% endfor %} {% endcomment %}
            
         
          </tbody>
        </table>
        </div>
{% endblock %}
<h1 class="mt-5">Retorno</h1>

        


