 {% extends 'base.html' %}

{% block conteudo %}
        <form method="get" action="{% url 'busca' %}">
        <legend>Raio X de sites</legend>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Site para pesquisar</label>
                <input class="form-control" type="search" value="" id="exampleInputEmail1" name="termourl">
                {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{% endblock %}